<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.CategoryTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.CategoryTb">
        <id column="category_Id" property="categoryId" />
        <result column="purchase_order_product_pn_ID" property="purchaseOrderProductPnId" />
        <result column="finished_goods_category" property="finishedGoodsCategory" />
    </resultMap>

</mapper>
