<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.HistoryUploadTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.HistoryUploadTb">
        <id column="history_upload_Id" property="historyUploadId" />
        <result column="account_ID" property="accountId" />
        <result column="manufacture_ID" property="manufactureId" />
        <result column="upload_addr" property="uploadAddr" />
    </resultMap>

</mapper>
