<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.ImageTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.ImageTb">
        <id column="image_Id" property="imageId" />
        <result column="purchase_order_product_pn_ID" property="purchaseOrderProductPnId" />
        <result column="drawing_image_addr" property="drawingImageAddr" />
    </resultMap>

</mapper>
