<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.OffTheShelfTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.OffTheShelfTb">
        <id column="shelf_Id" property="shelfId" />
        <result column="account_ID" property="accountId" />
        <result column="purchase_order_product_pn" property="purchaseOrderProductPn" />
        <result column="purchase_order_product_pn_ID" property="purchaseOrderProductPnId" />
        <result column="reason" property="reason" />
        <result column="application_time" property="applicationTime" />
        <result column="audit_time" property="auditTime" />
        <result column="examine" property="examine" />
        <result column="reasons_for_removal" property="ReasonsForRemoval"/>
    </resultMap>

</mapper>
