<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.PostAccessoryTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.PostAccessoryTb">
        <id column="post_device_accessory_PN" property="postDeviceAccessoryPn" />
        <result column="post_device_accessory_name" property="postDeviceAccessoryName" />
        <result column="post_device_accessory_description" property="postDeviceAccessoryDescription" />
        <result column="post_device_accessory_supplier" property="postDeviceAccessorySupplier" />
        <result column="sell_post_device_accessory_unit_price" property="sellPostDeviceAccessoryUnitPrice" />
        <result column="purchase_post_device_accessory_unit_price" property="purchasePostDeviceAccessoryUnitPrice" />
    </resultMap>

</mapper>
