<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.PostDeviceTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.PostDeviceTb">
        <id column="post_device_ID" property="postDeviceId" />
        <result column="post_device" property="postDevice" />
        <result column="post_device_vendor" property="postDeviceVendor" />
        <result column="post_device_IP_addr" property="postDeviceIpAddr" />
        <result column="post_device_model" property="postDeviceModel" />
        <result column="post_device_length" property="postDeviceLength" />
        <result column="post_device_width" property="postDeviceWidth" />
        <result column="post_device_height" property="postDeviceHeight" />
        <result column="post_device_Max_length" property="postDeviceMaxLength" />
        <result column="post_device_Max_width" property="postDeviceMaxWidth" />
        <result column="post_device_Max_height" property="postDeviceMaxHeight" />
        <result column="post_device_acc" property="postDeviceAcc" />
        <result column="post_device_weight" property="postDeviceWeight" />
        <result column="post_device_shipping_date" property="postDeviceShippingDate" />
        <result column="post_device_warranty" property="postDeviceWarranty" />
        <result column="post_device_status_Runing_idle_maintance" property="postDeviceStatusRuningIdleMaintance" />
        <result column="post_device_using_start_date" property="postDeviceUsingStartDate" />
        <result column="post_device_maintance_plan_date" property="postDeviceMaintancePlanDate" />
    </resultMap>

</mapper>
