<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.RefundTbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.RefundTb">
        <id column="refund_Id" property="refundId" />
        <result column="account_Id" property="accountId" />
        <result column="refund_application_time" property="refundApplicationTime" />
        <result column="refund_application_completed_time" property="refundApplicationCompletedTime" />
        <result column="purchase_order_number" property="purchaseOrderNumber" />
        <result column="product_Id" property="productId" />
        <result column="purchase_order_product_pn" property="purchaseOrderProductPn" />
        <result column="purchase_order_product_name" property="purchaseOrderProductName" />
        <result column="ji_fen" property="jiFen" />
        <result column="references_Id" property="referencesId" />
        <result column="reasons_for_application" property="reasonsForApplication" />
        <result column="application_category" property="applicationCategory" />
        <result column="application_reason_description" property="applicationReasonDescription" />
        <result column="application_status" property="applicationStatus" />
        <result column="bz" property="bz" />
    </resultMap>

</mapper>
