<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lq.dao.UserFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lq.pojo.UserFeedback">
        <id column="feedback_Id" property="feedbackId" />
        <result column="account_Id" property="accountId" />
        <result column="feedback_url" property="feedbackUrl" />
        <result column="feedback" property="feedback" />
        <result column="proposal" property="proposal" />
    </resultMap>

</mapper>
